.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}



.grid div a{
    display: flex;
}

.grid div a {
    display: block;
    margin: 50px;
    text-decoration: none;
    color: black !important;
}