
p{
    font-family: 'Noto Sans', sans-serif;
}

.cover  {
     color:white;
     background-image: url(../../public/image/Embutidos.jpg);
    height: 400px;
    width: 100% !important;
    background-size: cover;
    background-position: center;
    background-color:rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    
}
h1,h2,h3,h4,h5{
    font-family: 'Fjalla One', sans-serif;
}
.cover-small 
{

    height: 200px;
    background-blend-mode: normal;
   
}
.card{
 border: 0 !important;
 box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.6) ;

}
.card-title{

    min-height: 3rem;
}
.card-text{
    min-height: 25rem;
    
}
.comments{
    margin-right: 1rem;
}